<div class="menu-left">
	kk
</div>

<div class="menu-bar"></div>
<div class="wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-2 item">
				<span class="label label-default">Lighting</span>
					<%= image_tag "lamp_1.jpeg", :class => "img-responsive" %>
				<h5>Lamp</h5>

			</div>
		</div>
	</div>
	
</div>